<!DOCTYPE html>
<html>
  <head>
  <%= favicon_link_tag source="https://s3-us-west-1.amazonaws.com/productpics35/regretsy_favicon-01.png" %>
  <%# <link rel="shortcut icon" type="image/x-icon" href="https://s3-us-west-1.amazonaws.com/productpics35/regretsy_favicon-01.png" /> %>
    <title>RegrEtsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
